<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


   <!--css external file-->
   <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">


    <script src="https://kit.fontawesome.com/2f32e53da2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="logo.png">
    <title>Yet to be named</title>
   

       
	   
<script>
  function myFunction() {
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 20000);
  }
</script>


 
</head>

<body>
    <div class="landing-page">
        <div class="header">
            <form autocomplete="off">
                <h1 class="title"><i class="fa fa-hospital-o" aria-hidden="true"></i> Medical Help <i class="fa fa-heartbeat" aria-hidden="true"></i></h1>
                <div class="formbox">
                    
                    <div class="form-group autocomplete">
                    <label for="exampleInputEmail1">Disease</label>
                    <input type="text" class="form-control" id="Disease"  placeholder="Enter your Disease">
                    </div>
                    
                    <div class="form-group autocomplete">
                    <label for="exampleInputPassword1">Medicine</label>
                    <input type="text" class="form-control" id="Medicine" placeholder="Enter your Medicine">
                    </div>
                    <button type="button" onclick="myFunction()" class="btn btn-primary" >Analyze</button>
                </div>
            </form>    
        </div>
    </div>

	<div id="snackbar">
		<div class="spinner-border spinner-border-sm text-warning" role="status">
		  <span class="sr-only">Loading...</span> 
		</div> Analyzing 2 million reviews, might take some time
	</div>


<!--suggeation box code-->


 <script type="text/javascript"
         src="{{ url_for('static', filename='map.js') }}"></script>

</body>
</html>
